In [28]:
import numpy as np
import pandas as pd
import scipy
import time

from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid')
%matplotlib inline

In [2]:
raw_data = pd.read_csv('file:///C:/Users/JChaotogo/Documents/DataSets/insurance.csv')

# Exploring the Data

In [3]:
display(raw_data.head(2))
display(raw_data.dtypes)
display(raw_data.info())

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 57.5+ KB

None

In [4]:
#Save dataframe to seperate variable to manipulate. There are 3 categorical variables and 4 continuous ones.
df = raw_data
df['haschildren'] = np.where(df.children>0, 1, 0)
df['male'] = np.where(df.sex=='male',1,0)
df['issmoker'] = np.where(df.smoker=='yes',1,0)
features = pd.get_dummies(df.region)
display(df.sex.value_counts())
display(df.smoker.value_counts())
display(df.region.value_counts())
df.head()

male      676
female    662
Name: sex, dtype: int64

no     1064
yes     274
Name: smoker, dtype: int64

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

,age,sex,bmi,children,smoker,region,charges,haschildren,male,issmoker
0,19,female,27.900,0,yes,southwest,16884.92400,0,0,1
1,18,male,33.770,1,no,southeast,1725.55230,1,1,0
2,28,male,33.000,3,no,southeast,4449.46200,1,1,0
3,33,male,22.705,0,no,northwest,21984.47061,0,1,0
4,32,male,28.880,0,no,northwest,3866.85520,0,1,0

In [22]:
features = pd.get_dummies(df.region)
features[['age', 'bmi', 'issmoker', 'male', 'haschildren','charges']] = df[['age', 'bmi', 'issmoker', 'male', 'haschildren','charges']]
features.head()
features.dtypes

northeast        uint8
northwest        uint8
southeast        uint8
southwest        uint8
age              int64
bmi            float64
issmoker         int32
male             int32
haschildren      int32
charges        float64
dtype: object

In [18]:
X=features.drop('charges', 1)
Y=features['charges']

X_train, X_test, y_train, y_test = train_test_split(X,Y)

In [30]:
start=time.time()
dt = DecisionTreeRegressor()
dtmodel = dt.fit(X_train, y_train)
prediciton = dt.predict(X_test)
print(dt.score(X_test, y_test))
print('time:',time.time()-start)

0.6314777323420218
time: 0.005976200103759766

In [29]:
start = time.time()
rf = RandomForestRegressor()
rfmodel = rf.fit(X_train, y_train)
prediction = rf.fit(X_train, y_train)
print(rf.score(X_test, y_test))
print('time:',time.time()-start)

0.7796057986871172
time: 0.07380056381225586

The random forest regressor is 14% more accurate but 11x slower than the decision tree regressor